html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  align-self: center;
  align-content: center;
  margin: 2px;  
}

#bio {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#bio > li {
  padding: 2px;
}

@media (width: 375px){
  p{
    margin: 2px;
  }
  img{
    width: 80vw;
  }
}